#main
{
    background-color: rgb(185, 192, 201);
    padding:10px;
}
#title
{
    padding: 10px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
#img-div
{
    background-color: white;
    margin: 15px;
    text-align: center;
    padding:10px;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#img
{
    max-width: auto;
}
#tribute-info
{   
    margin-top: 15px;
    margin-left:25%;
    margin-right:25%;
    margin-bottom: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
li
{
    margin-top:15px;
    margin-bottom:15px;
}
#final
{
    text-align: center;
    color: #333;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
